{{ more_topic_block }}

<div id='paginate_block'> <br> <div id='results_string'></div><br> <div class='pagination'> <span class='previous_page disabled'>&lt;&lt;</span> <em class='current'>1</em> <a href='/customer/portal/articles/search?page=2' rel='next'>2</a> <a href='/customer/portal/articles/search?page=3'>3</a> <a class='next_page' href='/customer/portal/articles/search?page=2' rel='next'>&gt;&gt;</a> </div> </div>


{{ more_article_block }}

<div id='paginate_block'> <br> <div id='results_string'></div><br> <div class='pagination'> <span class='previous_page disabled'>&lt;&lt;</span> <em class='current'>1</em> <a href='/customer/portal/articles/search?page=2' rel='next'>2</a> <a href='/customer/portal/articles/search?page=3'>3</a> <a class='next_page' href='/customer/portal/articles/search?page=2' rel='next'>&gt;&gt;</a> </div> </div>

"more_search_block": "<div id='paginate_block'> <br> <div id='results_string'></div><br> <div class='pagination'> <span class='previous_page disabled'>&lt;&lt;</span> <em class='current'>1</em> <a href='search-2.html' rel='next'>2</a> <a href='search-3.html'>3</a> <a class='next_page' href='search-2.html' rel='next'>&gt;&gt;</a> </div> </div>",
"more_article_block": "<div id='paginate_block'> <br> <div id='results_string'></div><br> <div class='pagination'> <span class='previous_page disabled'>&lt;&lt;</span> <em class='current'>1</em> <a href='topic-2.html' rel='next'>2</a> <a href='topic-3.html'>3</a> <a class='next_page' href='topic-2.html' rel='next'>&gt;&gt;</a> </div> </div>",






page2 search:
<div id="paginate_block"> <br> <div id="results_string"></div><br> <div class="pagination"> <a class="previous_page" href="search.html" rel="prev start">&lt;&lt;</a> <a href="search.html" rel="prev start">1</a> <em class="current">2</em> <a href="sarch-3.html" rel="next">3</a> <a class="next_page" href="search-3.html" rel="next">&gt;&gt;</a> </div> </div>

page3 search:
<div id="paginate_block"><br> <div id="results_string"> </div><br> <div class="pagination"><a class="previous_page" rel="prev" href="search-2.html">&lt;&lt;</a> <a rel="start" href="search.html">1</a> <a rel="prev" href="search-2.html">2</a> <em class="current">3</em> <span class="next_page disabled">&gt;&gt;</span></div> </div>

topic page 2:
<div id="paginate_block"><br> <div id="results_string"> </div><br> <div class="pagination"><a class="previous_page" rel="prev start" href="topic.html&amp;page=1&amp;t=503097">&lt;&lt;</a> <a rel="prev start" href=topic.html">1</a> <em class="current">2</em> <a rel="next" href="topic-3.html">3</a> <a class="next_page" rel="next" href="topic-3.html">&gt;&gt;</a></div> </div>

topic page 3:
<div id="paginate_block"><br> <div id="results_string"> </div><br> <div class="pagination"><a class="previous_page" rel="prev" href="topic-2.html">&lt;&lt;</a> <a rel="start" href="topic.html">1</a> <a rel="prev" href="topic-2.html">2</a> <em class="current">3</em> <span class="next_page disabled">&gt;&gt;</span></div> </div>
